amqp==1.4.9
anyjson==0.3.3
asn1crypto==0.24.0
backports-abc==0.5
billiard==3.3.0.23
celery==3.1.25
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
enum34==1.1.6
futures==3.2.0
greenlet==0.4.14
idna==2.7
ipaddress==1.0.22
kombu==3.0.37
meld3==1.0.2
Naked==0.1.31
pika==0.9.14
Pillow==5.2.0
pycparser==2.18
pycrypto==2.6.1
PyMySQL==0.9.2
pytz==2018.5
PyYAML==5.4
qiniu==7.2.2
redis==2.10.6
requests==2.19.1
shellescape==3.4.1
singledispatch==3.4.0.3
six==1.11.0
tormysql==0.4.0
tornado==5.1
tornado-celery==0.3.5
urllib3==1.23
xmltodict==0.11.0
