<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"><script language=javascript type=text/javascript src=https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js></script><script language=javascript type=text/javascript src=http://res.wx.qq.com/open/js/jweixin-1.4.0.js></script><script language=javascript type=text/javascript src=http://dftp.ystsj.net/tzstic/js/utils.js></script><script language=javascript type=text/javascript src=http://dftp.ystsj.net/tzstic/plugins/jquery.qrcode.min.js></script><title></title><style>html,
    body,
    #app {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }</style><link href=/tzstic/staticwx/css/app.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=/tzstic/staticwx/js/manifest.js></script><script type=text/javascript src=/tzstic/staticwx/js/vendor.js></script><script type=text/javascript src=/tzstic/staticwx/js/app.js></script></body></html>